<%- include('./partials/add-categories-modal') %>
<section id="admin-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Management des looks</h1>
                <div id="alert-add" class="alert" hidden></div>
                <form id="admin-add-look-form" class="form" role="form" novalidate accept-charset="UTF-8">
                    <fieldset>
                        <legend>
                            <button id="add-look-legend" data-toggle="collapse" data-target="#form-toggle">Ajouter un look</button>
                        </legend>
                        <div id="form-toggle" class="collapse">
                            <div class="form-group">
                                <label for="name">Nom</label>
                                <input class="form-control form-control-success form-control-danger" type="text" id="name" name="name" />
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control form-control-success form-control-danger" id="description" name="description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="categories">Catégories</label>
                                <button class="add-category-button" type="button" data-toggle="modal" data-target="#add-category-modal">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                                <select id="categories" class="form-control form-control-success form-control-danger" multiple name="categories"></select>
                            </div>
                            <div class="form-group">
                                <label for="time_code">Time code</label>
                                <input class="form-control form-control-success form-control-danger" type="text" id="time_code" name="time_code" />
                            </div>
                            <div class="form-group">
                                <label for="appearing_context">Contexte</label>
                                <input class="form-control form-control-success form-control-danger" type="text" id="appearing_context" name="appearing_context" />
                            </div>
                            <div class="form-group">
                                <label for="categories">Personnages</label>
                                <button class="add-character-button" type="button" data-toggle="modal" data-target="#add-character-modal">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                                <select id="media_character_id" class="form-control form-control-success form-control-danger" multiple name="media_character_id"></select>
                            </div>
                            <div class="form-group">
                                <button class="open-products-modal btn btn-default" data-toggle="modal" data-target="#products-modal" type="button">Ajouter des produits</button>
                                <div id="linked-products" class="table table-striped table-hover table-sm">
                                    <div class="tr thead-inverse">
                                        <div class="th">ID</div>
                                        <div class="th">Marque</div>
                                        <div class="th">Nom</div>
                                        <div class="th">Image</div>
                                        <div class="th">Match</div>
                                        <div class="th">Emplacement</div>
                                        <div class="th">Contexte</div>
                                        <div class="th">Ordre</div>
                                        <div class="th">Suppr.</div>
                                    </div>
                                </div>
                                <div class="no-associated-products">
                                    Aucun produit associé pour le moment.
                                </div>
                            </div>
                            <button class="add-button btn btn-default" type="button">Ajouter</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="grouped-actions">
        <button type="button" class="modal-hidden delete-grouped-button btn btn-default" disabled>Supprimer les éléments</button>
        <button type="button" class="add-grouped-button btn btn-default" disabled>Ajouter les éléments</button>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="alert-table" class="alert" hidden></div>
                <div class="table table-striped table-hover table-sm">
                    <div class="tr thead-inverse">
                        <div class="th"></div>
                        <div class="th modal-hidden">Actions</div>
                        <div class="th">#</div>
                        <div class="th">Nom</div>
                        <div class="th modal-hidden">Description</div>
                        <div class="th modal-hidden">Catégories</div>
                        <div class="th modal-hidden">Time Code</div>
                        <div class="th modal-hidden">Contexte</div>
                        <div class="th modal-hidden">Personnages</div>
                        <div class="th modal-hidden">Produits</div>
                        <div class="th">Créé</div>
                        <div class="th">MAJ</div>
                        <div class="th modal-hidden">Actions</div>
                    </div>
                    <%_
                    looks.forEach(function(look){
                    _%>
                    <form class="tr">
                        <div class="td">
                            <input type="checkbox" name="select-look" />
                        </div>
                        <div class="td modal-hidden">
                            <button type="button" class="edit-button actions"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            <button type="button" class="delete-button actions"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            <button type="button" class="save-button actions"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                            <button type="button" class="close-button actions"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        <div class="td">
                            <div>
                                <%= look.id _%><input name="id" type="hidden" value="<%= look.id _%>" />
                            </div>
                        </div>                        
                        <div class="td">
                            <div class="display-field"><%= look.name _%></div>
                            <div class="edit-field form-group">
                                <input type="text" name="name" value="<%= look.name _%>" class="form-control form-control-success form-control-danger" />
                            </div>
                        </div>
                        <div class="td modal-hidden">
                            <div class="display-field"><%- look.description && look.description.length > 200 ? look.description.substring(0, 200) + '<span>&hellip;</span>' : look.description _%></div>
                            <div class="edit-field form-group">
                                <textarea name="description" class="form-control form-control-success"><%= look.description _%></textarea>
                            </div>
                        </div>
                        <div class="td modal-hidden">
                            <div class="display-field">
                                <ul>
                                    <%_ look.categories.forEach(function(category){ _%>
                                    <li><%= category.name _%></li>
                                    <%_ }); _%>
                                </ul>
                            </div>
                            <div class="edit-field form-group">
                                <select name="categories" class="form-control form-control-success form-control-danger" multiple>
                                    <%_ look.categories.forEach(function(category){ _%>
                                    <option selected value="<%= category.id _%>"><%= category.name _%></option>
                                    <%_ }); _%>
                                </select>
                            </div>
                        </div>                        
                        <div class="td modal-hidden">
                            <div class="display-field"><%= look.time_code _%></div>
                            <div class="edit-field form-group">
                                <input type="text" name="commercial_url" value="<%= look.time_code _%>" class="form-control form-control-success form-control-danger" />
                            </div>
                        </div>
                        <div class="td modal-hidden">
                            <div class="display-field"><%= look.appearing_context _%></div>
                            <div class="edit-field form-group">
                                <input type="text" name="appearing_context" value="<%= look.appearing_context _%>" class="form-control form-control-success form-control-danger" />
                            </div>
                        </div>                        
                        <div class="td">
                            <div><%= look.name _%></div>
                        </div>
                        <div class="td">
                            <div><%= look.name _%></div>
                        </div>
                        <div class="td">
                            <div><%= moment(look.created_at).format('DD-MMMM-YYYY') _%></div>
                        </div>
                        <div class="td">
                            <div><%= look.updated_at ? moment(look.updated_at).format('DD-MMMM-YYYY') : 'Pas de MAJ' _%></div>
                        </div>
                        <div class="td modal-hidden">
                            <button type="button" class="edit-button actions"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            <button type="button" class="delete-button actions"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            <button type="button" class="save-button actions"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                            <button type="button" class="close-button actions"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                    </form>
                    <%_
                    });
                    _%>
                </div>
            </div>
        </div>
        <%- include('../partials/pagination', { pagination:  pagination }) %>
    </div>
</section>
<%- contentFor('bodyClass') %>
class="admin"
<%- contentFor('extraScripts') %>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/mainAdminLooks.js"></script>