<section id="admin-section">
    <%- include('./partials/add-tags-modal') %>
    <!--<div class="modal fade" id="add-character-modal" tabindex="-1" role="dialog" aria-labelledby="add-character-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Ajouter un personnage</h4>
                </div>
                <div class="modal-body">
                    <form id="add-character-form" class="form" role="form" novalidate accept-charset="UTF-8">
                        <div class="form-group row">
                            <label class="sr-only" for="character_firstname">Prénom</label>
                            <input type="text" class="form-control form-control-success form-control-danger col-md-6 offset-md-3" id="character_firstname" name="firstname" placeholder="Prénom du personnage" autocomplete="off">
                        </div>
                        <div class="form-group row">
                            <label class="sr-only" for="character_lastname">Nom</label>
                            <input type="text" class="form-control form-control-success form-control-danger col-md-6 offset-md-3" id="character_lastname" name="lastname" placeholder="Nom du personnage" autocomplete="off">
                        </div>
                        <div class="form-group row">
                            <label class="sr-only" for="character_nickname">Surnom</label>
                            <input type="text" class="form-control form-control-success form-control-danger col-md-6 offset-md-3" id="character_nickname" name="nickname" placeholder="Surnom du personnage" autocomplete="off">
                        </div>
                        <div class="form-group row">
                            <label class="sr-only" for="character_type">Type</label>
                            <select id="character_type" name="character_type_id" class="form-control form-control-success form-control-danger col-md-6 offset-md-3">
                                <option selected value="1">Homme</option>
                                <option value="2">Femme</option>
                                <option value="3">Jeune fille</option>
                                <option value="4">Jeune garçon</option>
                                <option value="5">Robot</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 offset-md-3">
                                <button type="button" id="add-character" class="btn btn-primary">Ajouter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>-->
    <div class="modal fade" id="products-modal" tabindex="-1" role="dialog" aria-labelledby="products-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Ajouter des produits</h4>
                </div>
                <div class="modal-body">
                    <iframe src="/admin/produits"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modify-products-modal" tabindex="-1" role="dialog" aria-labelledby="modify-products-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Produits</h4>
                </div>
                <div class="modal-body">
                    <button id="back-to-products-button" class="btn btn-default">Revenir aux produits du look</button>
                    <button id="add-products-button" class="edit-field btn btn-default" type="button">Ajouter des produits</button>
                    <iframe></iframe>
                    <div class="no-associated-products" style="display: none;">
                        Aucun produit associé pour le moment.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Management des looks</h1>
                <div id="alert-add" class="alert" hidden></div>
                <form id="admin-add-look-form" class="form" role="form" novalidate accept-charset="UTF-8">
                    <fieldset>
                        <legend>
                            <button id="add-look-legend" data-toggle="collapse" data-target="#form-toggle">Ajouter un look</button>
                        </legend>
                        <div id="form-toggle" class="collapse">                            
                            <div class="form-group">
                                <label for="name">Nom</label>
                                <input class="form-control form-control-success form-control-danger" type="text" id="name" name="name" />
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control form-control-success form-control-danger" id="description" name="description"></textarea>
                            </div>                           
                            <div class="form-group">
                                <label for="tags">Tags</label>
                                <button class="add-tag-button" type="button" data-toggle="modal" data-target="#add-tag-modal">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                                <select id="tags" class="form-control form-control-success form-control-danger" multiple name="tags"></select>
                            </div>
                            <div class="form-group">
                                <label for="time_codes">Time code</label>
                                <input class="form-control form-control-success form-control-danger" type="text" id="time_codes" name="time_codes" />
                            </div>
                            <div class="form-group">
                                <label for="character_name">Nom du personnage</label>
                                <input class="form-control form-control-success form-control-danger" type="text" id="character_name" name="character_name" />
                            </div>
                            <div class="form-group">
                                <label for="character_name">Type de personnage</label>
                                <select id="character_type_id" name="character_type_id" class="form-control form-control-success form-control-danger">
                                    <option selected value="1">Homme</option>
                                    <option value="2">Femme</option>
                                    <option value="3">Jeune fille</option>
                                    <option value="4">Jeune garçon</option>
                                    <option value="5">Robot</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="open-products-modal btn btn-default" data-toggle="modal" data-target="#products-modal" type="button">Ajouter des produits</button>
                                <div id="linked-products" class="table table-striped table-hover table-sm" data-type="look">
                                    <div class="tr thead-inverse">
                                        <div class="th">ID</div>
                                        <div class="th">Marque</div>
                                        <div class="th">Nom</div>
                                        <div class="th">Image</div>
                                        <div class="th">Match</div>
                                        <div class="th">Emplacement</div>
                                        <div class="th">Contexte</div>
                                        <div class="th">Ordre</div>
                                        <div class="th">Suppr.</div>
                                    </div>
                                </div>
                                <div class="no-associated-products">
                                    Aucun produit associé pour le moment.
                                </div>
                            </div>
                            <button class="add-button btn btn-default" type="button">Ajouter</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="grouped-actions">
        <button type="button" class="modal-hidden delete-grouped-button btn btn-default" disabled>Supprimer les éléments</button>
        <button type="button" class="add-grouped-button btn btn-default" disabled>Ajouter les éléments</button>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="alert-table" class="alert" hidden></div>
                <div class="table table-striped table-hover table-sm">
                    <div class="tr thead-inverse">
                        <div class="th"></div>
                        <div class="th modal-hidden">Actions</div>
                        <div class="th">#</div>
                        <div class="th">Nom</div>
                        <div class="th modal-hidden">Description</div>
                        <div class="th modal-hidden">Tags</div>
                        <div class="th">Time Code</div>
                        <div class="th">Nom du perso.</div>
                        <div class="th modal-hidden">Type du perso.</div>
                        <div class="th">Produits</div>
                        <div class="th">Créé</div>
                        <div class="th">MAJ</div>
                        <div class="th modal-hidden">Actions</div>
                    </div>
                    <%_
                    looks.forEach(function(look){
                    _%>
                    <form class="tr">
                        <div class="td">
                            <input type="checkbox" name="select-look" />
                        </div>
                        <div class="td modal-hidden">
                            <button type="button" class="edit-button actions"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            <button type="button" class="delete-button actions"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            <button type="button" class="save-button actions"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                            <button type="button" class="close-button actions"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        <div class="td">
                            <div>
                                <%= look.id _%><input name="id" type="hidden" value="<%= look.id _%>" />
                            </div>
                        </div>                       
                        <div class="td">
                            <div class="display-field"><%= look.name _%></div>
                            <div class="edit-field form-group">
                                <input type="text" name="name" value="<%= look.name _%>" class="form-control form-control-success form-control-danger" />
                            </div>
                        </div>
                        <div class="td modal-hidden">
                            <div class="display-field"><%- look.description && look.description.length > 200 ? look.description.substring(0, 200) + '<span>&hellip;</span>' : look.description _%></div>
                            <div class="edit-field form-group">
                                <textarea name="description" class="form-control form-control-success"><%= look.description _%></textarea>
                            </div>
                        </div>                       
                        <div class="td modal-hidden">
                            <div class="display-field">
                                <ul>
                                    <%_ look.tags.forEach(function(tag){ _%>
                                    <li><%= tag.name _%></li>
                                    <%_ }); _%>
                                </ul>
                            </div>
                            <div class="edit-field form-group">
                                <select name="tags" class="form-control form-control-success form-control-danger" multiple>
                                    <%_ look.tags.forEach(function(tag){ _%>
                                    <option selected value="<%= tag.id _%>"><%= tag.name _%></option>
                                    <%_ }); _%>
                                </select>
                            </div>
                        </div>
                        <div class="td">
                            <div class="display-field"><%= look.time_codes _%></div>
                            <div class="edit-field form-group">
                                <input type="text" name="time_codes" value="<%= look.time_codes _%>" class="form-control form-control-success form-control-danger" />
                            </div>
                        </div>
                        <div class="td">
                            <div class="display-field">
                                <%= look.character_name _%>
                            </div>
                            <div class="edit-field form-group">                                
                                <input class="form-control form-control-success form-control-danger" type="text" name="character_name" value="<%= look.character_name _%>" />
                            </div>                                                    
                        </div>
                        <div class="td modal-hidden">
                            <%_
                            var characterTypes = ['Homme', 'Femme', 'Jeune fille', 'Jeune garçon', 'Robot'];
                            _%>
                            <div class="display-field">
                                <%= characterTypes[look.characterType.id - 1] _%>
                            </div>
                            <div class="edit-field form-group">                              
                                <select name="character_type_id" class="form-control form-control-success form-control-danger">
                                    <%_ characterTypes.forEach(function(characterType, index){ _%>
                                    <option value="<%= index + 1_%>" <%= look.characterType.id === (index + 1) ? 'selected ' : '' %>><%= characterType _%></option>
                                    <%_ }); _%>
                                </select>
                            </div>    
                        </div>
                        <div class="td">
                            <div class="display-field">
                                <button class="see-products-button btn btn-default" data-toggle="modal" data-target="#modify-products-modal" type="button">Voir les produits</button>
                            </div>
                            <div class="edit-field">
                                <button class="modify-products-button btn btn-default" data-toggle="modal" data-target="#modify-products-modal" type="button">Modifier les produits</button>
                            </div>
                            <div class="linked-products table table-striped table-hover table-sm" data-type="look">
                                <div class="tr thead-inverse">
                                    <div class="th">ID</div>
                                    <div class="th">Marque</div>
                                    <div class="th">Nom</div>
                                    <div class="th">Image</div>
                                    <div class="th">Match</div>
                                    <div class="th">Emplacement</div>
                                    <div class="th">Contexte</div>
                                    <div class="th">Ordre</div>
                                    <div class="th edit-field">Suppr.</div>
                                </div>
                                <%_ look.products.forEach(function(product){ _%>
                                <div class="tr">
                                    <div class="td">
                                        <div>
                                            <%= product.id _%><input name="id" type="hidden" value="<%= product.id _%>" />
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div><%= product.brand.name _%></div>
                                    </div>
                                    <div class="td">
                                        <div><%= product.name _%></div>
                                    </div>
                                    <div class="td">
                                        <div>
                                            <img src="<%= product.picture_url.replace(/-original/g, '-thumbnail') _%>" alt="<%= product.picture_alt _%>" title="<%= product.picture_title _%>" />
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div class="display-field">
                                            <div class="matching-status <%= product._pivot_matching_status_id === 1 ? 'exact-match' : 'close-match' _%>"></div>
                                        </div>
                                        <div class="edit-field form-group">
                                            <input type="checkbox" name="matching_status_id" value="1" <%= product._pivot_matching_status_id === 1 ? 'checked' : '' %> class="form-control" />
                                        </div>
                                    </div>
                                    <div class="td">
                                        <%_
                                        var bodyLocations = ['Tête', 'Torse', 'Mains', 'Jambes', 'Pieds'];
                                        _%>
                                        <div class="display-field"><%= bodyLocations[product._pivot_body_location_id - 1] _%></div>
                                        <div class="edit-field form-group">
                                            <select name="body_location_id" class="form-control">
                                                <%_ bodyLocations.forEach(function(bodyLocation, index){ _%>
                                                <option value="<%= index + 1_%>" <%= product._pivot_body_location_id == (index + 1) ? 'selected ' : '' %>><%= bodyLocation _%></option>
                                                <%_ }); _%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div class="display-field"><%= product._pivot_appearing_context _%></div>
                                        <div class="edit-field form-group">
                                            <input type="text" name="appearing_context" value="<%= product._pivot_appearing_context _%>" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div class="display-field"><%= product._pivot_order _%></div>
                                        <div class="edit-field form-group">
                                            <input type="text" name="order" value="<%= product._pivot_order _%>" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div class="edit-field">
                                            <button type="button" class="delete-linked-button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <%_ }); _%>
                            </div>
                        </div>
                        <div class="td">
                            <div><%= moment(look.created_at).format('DD-MMMM-YYYY') _%></div>
                        </div>
                        <div class="td">
                            <div><%= look.updated_at ? moment(look.updated_at).format('DD-MMMM-YYYY') : 'Pas de MAJ' _%></div>
                        </div>
                        <div class="td modal-hidden">
                            <button type="button" class="edit-button actions"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            <button type="button" class="delete-button actions"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            <button type="button" class="save-button actions"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                            <button type="button" class="close-button actions"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                    </form>
                    <%_
                    });
                    _%>
                </div>
            </div>
        </div>
        <%- include('../partials/pagination', { pagination:  pagination }) %>
    </div>
</section>
<%- contentFor('bodyClass') %>
class="admin"
<%- contentFor('extraScripts') %>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/mainAdminLooks.js"></script>