<section id="admin-section">    
    <%- include('./partials/add-tags-modal') %>
    <div class="modal fade" id="products-modal" tabindex="-1" role="dialog" aria-labelledby="products-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Ajouter des produits</h4>
                </div>
                <div class="modal-body">
                    <iframe src="/admin/produits"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="locations-modal" tabindex="-1" role="dialog" aria-labelledby="locations-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Ajouter des lieux</h4>
                </div>
                <div class="modal-body">
                    <iframe src="/admin/lieux"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="looks-modal" tabindex="-1" role="dialog" aria-labelledby="looks-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Ajouter des looks</h4>
                </div>
                <div class="modal-body">
                    <iframe src="/admin/looks"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sets-modal" tabindex="-1" role="dialog" aria-labelledby="sets-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Ajouter des décors</h4>
                </div>
                <div class="modal-body">
                    <iframe src="/admin/decors"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modify-products-modal" tabindex="-1" role="dialog" aria-labelledby="modify-products-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Produits</h4>
                </div>
                <div class="modal-body">
                    <button id="back-to-products-button" class="btn btn-default">Revenir aux produits du film</button>
                    <button id="add-products-button" class="edit-field btn btn-default" type="button">Ajouter des produits</button>
                    <iframe></iframe>
                    <div class="no-associated-asset" style="display: none;">
                        Aucun produit associé pour le moment.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modify-locations-modal" tabindex="-1" role="dialog" aria-labelledby="modify-locations-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Lieux</h4>
                </div>
                <div class="modal-body">
                    <button id="back-to-locations-button" class="btn btn-default">Revenir aux lieux du film</button>
                    <button id="add-locations-button" class="edit-field btn btn-default" type="button">Ajouter des lieux</button>
                    <iframe></iframe>
                    <div class="no-associated-assets" style="display: none;">
                        Aucun lieu associé pour le moment.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modify-looks-modal" tabindex="-1" role="dialog" aria-labelledby="modify-looks-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Looks</h4>
                </div>
                <div class="modal-body">
                    <button id="back-to-looks-button" class="btn btn-default">Revenir aux looks du film</button>
                    <button id="add-looks-button" class="edit-field btn btn-default" type="button">Ajouter des looks</button>
                    <iframe></iframe>
                    <div class="no-associated-assets" style="display: none;">
                        Aucun look associé pour le moment.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modify-sets-modal" tabindex="-1" role="dialog" aria-labelledby="modify-sets-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Décors</h4>
                </div>
                <div class="modal-body">
                    <button id="back-to-sets-button" class="btn btn-default">Revenir aux décors du film</button>
                    <button id="add-sets-button" class="edit-field btn btn-default" type="button">Ajouter des décors</button>
                    <iframe></iframe>
                    <div class="no-associated-assets" style="display: none;">
                        Aucun décor associé pour le moment.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Management des films</h1>
                <div id="alert-add" class="alert alert-dismissible fade in" hidden role="alert"></div>
                <form id="admin-add-movie-form" class="form" role="form" novalidate accept-charset="UTF-8">
                    <fieldset>
                        <legend>
                            <button id="add-product-legend" data-toggle="collapse" data-target="#form-toggle">Ajouter un film</button>
                        </legend>
                        <div id="form-toggle" class="collapse">
                            <div class="form-group">
                                <label for="is_published">Publié</label>
                                <input class="form-control form-control-success form-control-danger" type="checkbox" id="is_published" name="is_published" />
                            </div>
                            <div class="form-group">
                                <label for="name">Nom</label>
                                <input class="form-control form-control-success form-control-danger" type="text" id="name" name="name" />
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control form-control-success form-control-danger" id="description" name="description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="theater_release_date">Sortie salles</label>
                                <input class="form-control form-control-success form-control-danger" type="text" id="theater_release_date" name="theater_release_date" />
                            </div>
                            <div class="form-group">
                                <label for="tv_release_date">Sortie tv</label>
                                <input class="form-control form-control-success form-control-danger" type="text" id="tv_release_date" name="tv_release_date" />
                            </div>
                            <div class="form-group">
                                <label for="release_country">Pays de production</label>
                                <input class="form-control form-control-success form-control-danger" type="text" id="release_country" name="release_country" />
                            </div>
                            <div class="form-group">
                                <label for="duration">Durée</label>
                                <input class="form-control form-control-success form-control-danger" type="text" id="duration" name="duration" /> min
                            </div>
                            <div class="form-group">
                                <label for="poster_url">Affiche</label>
                                <input class="form-control form-control-success form-control-danger" type="text" placeholder="url" id="poster_url" name="poster_url" />
                                <input class="form-control" type="text" placeholder="alt" name="poster_alt" />
                                <input class="form-control" type="text" placeholder="title" name="poster_title" />
                            </div>
                            <div class="form-group">
                                <label for="video_url">Url vidéo</label>
                                <input class="form-control form-control-success form-control-danger" type="text" id="video_url" name="video_url" />
                            </div>
                            <div class="form-group">
                                <label for="synopsis">Synopsis</label>
                                <textarea class="form-control form-control-success form-control-danger" id="synopsis" name="synopsis"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="tv_broadcaster">Diffuseur TV</label>
                                <input class="form-control form-control-success form-control-danger" type="text" id="tv_broadcaster" name="tv_broadcaster" />
                            </div>                           
                            <div class="form-group">
                                <label for="tags">Tags</label>
                                <button class="add-tag-button" type="button" data-toggle="modal" data-target="#add-tag-modal">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                                <select id="tags" class="form-control form-control-success form-control-danger" multiple name="tags"></select>
                            </div>
                            <div class="form-group">
                                <button class="open-products-modal btn btn-default" data-toggle="modal" data-target="#products-modal" type="button">Ajouter des produits</button>
                                <div id="linked-products" class="table table-striped table-hover table-sm" data-type="movie">
                                    <div class="tr thead-inverse">
                                        <div class="th">ID</div>
                                        <div class="th">Marque</div>
                                        <div class="th">Nom</div>
                                        <div class="th">Image</div>
                                        <div class="th">Match</div>
                                        <div class="th">Contexte</div>
                                        <div class="th">Time code</div>
                                        <div class="th">Suppr.</div>
                                    </div>                                    
                                </div>
                                <div class="no-associated-assets">
                                    Aucun produit associé pour le moment.
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="open-locations-modal btn btn-default" data-toggle="modal" data-target="#locations-modal" type="button">Ajouter des lieux</button>
                                <div id="linked-locations" class="table table-striped table-hover table-sm">
                                    <div class="tr thead-inverse">
                                        <div class="th">ID</div>
                                        <div class="th">Nom</div>
                                        <div class="th">V.E.P.</div>
                                        <div class="th">Image</div>
                                        <div class="th">Contexte</div>
                                        <div class="th">Time code</div>
                                        <div class="th">Suppr.</div>
                                    </div>
                                </div>
                                <div class="no-associated-assets">
                                    Aucun lieu associé pour le moment.
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="open-looks-modal btn btn-default" data-toggle="modal" data-target="#looks-modal" type="button">Ajouter des looks</button>
                                <div id="linked-looks" class="table table-striped table-hover table-sm">
                                    <div class="tr thead-inverse">
                                        <div class="th">ID</div>
                                        <div class="th">Nom</div>
                                        <div class="th">Suppr.</div>
                                    </div>
                                </div>
                                <div class="no-associated-assets">
                                    Aucun look associé pour le moment.
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="open-sets-modal btn btn-default" data-toggle="modal" data-target="#sets-modal" type="button">Ajouter des décors</button>
                                <div id="linked-sets" class="table table-striped table-hover table-sm">
                                    <div class="tr thead-inverse">
                                        <div class="th">ID</div>
                                        <div class="th">Nom</div>                                        
                                        <div class="th">Image</div>
                                        <div class="th">Loc.</div>
                                        <div class="th">Suppr.</div>
                                    </div>
                                </div>
                                <div class="no-associated-assets">
                                    Aucun décor associé pour le moment.
                                </div>
                            </div>
                            <button class="add-button btn btn-default" type="button">Ajouter</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="alert-table" class="alert alert-dismissible fade in" hidden role="alert"></div>
                <div class="table table-striped table-hover table-sm">
                    <div class="tr thead-inverse">
                        <!--<div class="th"></div>-->
                        <div class="th">Actions</div>
                        <div class="th">#</div>
                        <div class="th">Publ.</div>
                        <div class="th">Nom</div>
                        <div class="th">Description</div>
                        <div class="th">Sortie salles</div>
                        <div class="th">Sortie TV</div>
                        <div class="th">Pays de production</div>
                        <div class="th">Durée</div>
                        <div class="th">Affiche</div>
                        <div class="th">Vidéo URL</div>
                        <div class="th">Synopsis</div>
                        <div class="th">Diff. TV</div>
                        <!--<div class="th">Genre</div>-->
                        <div class="th">Tags</div>
                        <div class="th">Produits</div>
                        <div class="th">Lieux</div>
                        <div class="th">Looks</div>
                        <div class="th">Décors</div>
                        <div class="th">Créé</div>
                        <div class="th">MAJ</div>
                        <div class="th">Actions</div>
                    </div>
                    <%_
                    videoMedias.forEach(function(videoMedia){
                    _%>
                    <form class="tr">
                        <!--<div class="td">
            <input type="checkbox" name="select-product" />
        </div>-->
                        <div class="td">
                            <button type="button" class="edit-button actions"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            <button type="button" class="delete-button actions"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            <button type="button" class="save-button actions"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                            <button type="button" class="close-button actions"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        <div class="td">
                            <%= videoMedia.id _%><input name="id" type="hidden" value="<%= videoMedia.id _%>" />
                        </div>
                        <div class="td">
                            <div class="display-field"><%= videoMedia.is_published _%></div>
                            <div class="edit-field form-group">
                                <input class="form-control form-control-success form-control-danger" type="checkbox" id="is_published" name="is_published" <%= videoMedia.is_published ? 'checked' : '' %> />
                            </div>
                        </div>
                        <div class="td">
                            <div class="display-field"><%= videoMedia.name _%></div>
                            <div class="edit-field form-group">
                                <input type="text" name="name" value="<%= videoMedia.name _%>" class="form-control form-control-success form-control-danger" />
                            </div>
                        </div>
                        <div class="td">
                            <div class="display-field"><%- videoMedia.description && videoMedia.description.length > 200 ? videoMedia.description.substring(0, 200) + '<span>&hellip;</span>' : videoMedia.description _%></div>
                            <div class="edit-field form-group">
                                <textarea name="description" class="form-control form-control-success form-control-danger"><%= videoMedia.description _%></textarea>
                            </div>
                        </div>
                        <div class="td">
                            <div class="display-field"><%= moment(new Date(videoMedia.theater_release_date)).format('DD/MM/YYYY') _%></div>
                            <div class="edit-field form-group">
                                <input type="text" name="theater_release_date" value="<%= moment(new Date(videoMedia.theater_release_date)).isValid() ? moment(new Date(videoMedia.theater_release_date)).format('DD/MM/YYYY') : '' _%>" class="form-control form-control-success form-control-danger" />
                            </div>
                        </div>
                        <div class="td">
                            <div class="display-field"><%= moment(new Date(videoMedia.tv_release_date)).format('DD/MM/YYYY') _%></div>
                            <div class="edit-field form-group">
                                <input type="text" name="tv_release_date" value="<%= moment(new Date(videoMedia.tv_release_date)).isValid() ? moment(new Date(videoMedia.tv_release_date)).format('DD/MM/YYYY') : '' _%>" class="form-control form-control-success form-control-danger" />
                            </div>
                        </div>
                        <div class="td">
                            <div class="display-field"><%= videoMedia.release_country _%></div>
                            <div class="edit-field form-group">
                                <input type="text" name="release_country" value="<%= videoMedia.release_country _%>" class="form-control form-control-success form-control-danger" />
                            </div>
                        </div>
                        <div class="td">
                            <div class="display-field"><%= videoMedia.duration _%></div>
                            <div class="edit-field form-group">
                                <input type="text" name="duration" value="<%= videoMedia.duration _%>" class="form-control form-control-success form-control-danger" />
                            </div>
                        </div>
                        <div class="td">
                            <div class="display-field"><img src="<%= videoMedia.poster_url.replace(/-original/g, '-thumbnail') _%>" alt="<%= videoMedia.picture_alt _%>" title="<%= videoMedia.picture_title _%>" /></div>
                            <div class="edit-field form-group">
                                <input type="text" placeholder="url" name="poster_url" value="<%= videoMedia.poster_url _%>" class="form-control form-control-success form-control-danger" />
                                <input type="text" placeholder="alt" name="poster_alt" value="<%= videoMedia.poster_alt _%>" class="form-control form-control-success form-control-danger" />
                                <input type="text" placeholder="title" name="poster_title" value="<%= videoMedia.poster_title _%>" class="form-control form-control-success form-control-danger" />
                            </div>
                        </div>
                        <div class="td">
                            <div class="display-field"><%= videoMedia.video_url _%></div>
                            <div class="edit-field form-group">
                                <input type="text" name="video_url" value="<%= videoMedia.video_url _%>" class="form-control form-control-success form-control-danger" />
                            </div>
                        </div>
                        <div class="td">
                            <div class="display-field"><%- videoMedia.synopsis && videoMedia.synopsis.length > 200 ? videoMedia.synopsis.substring(0, 200) + '<span>&hellip;</span>' : videoMedia.synopsis _%></div>
                            <div class="edit-field form-group">
                                <textarea name="synopsis" class="form-control form-control-success form-control-danger"><%= videoMedia.synopsis _%></textarea>
                            </div>
                        </div>
                        <div class="td">
                            <div class="display-field"><%= videoMedia.tv_broadcaster _%></div>
                            <div class="edit-field form-group">
                                <input type="text" name="tv_broadcaster" value="<%= videoMedia.tv_broadcaster _%>" class="form-control form-control-success form-control-danger" />
                            </div>
                        </div>                        
                        <div class="td">
                            <div class="display-field">
                                <ul>
                                    <%_ videoMedia.tags.forEach(function(tag){ _%>
                                    <li><%= tag.name _%></li>
                                    <%_ }); _%>
                                </ul>
                            </div>
                            <div class="edit-field form-group">
                                <select name="tags" class="form-control form-control-success form-control-danger" multiple>
                                    <%_ videoMedia.tags.forEach(function(tag){ _%>
                                    <option selected value="<%= tag.id _%>"><%= tag.name _%></option>
                                    <%_ }); _%>
                                </select>
                            </div>
                        </div>
                        <div class="td">
                            <div class="display-field">
                                <button class="see-products-button btn btn-default" data-toggle="modal" data-target="#modify-products-modal" type="button">Voir les produits</button>
                            </div>
                            <div class="edit-field">
                                <button class="modify-products-button btn btn-default" data-toggle="modal" data-target="#modify-products-modal" type="button">Modifier les produits</button>
                            </div>
                            <div class="linked-products table table-striped table-hover table-sm" data-type="movie">
                                <div class="tr thead-inverse">
                                    <div class="th">ID</div>
                                    <div class="th">Marque</div>
                                    <div class="th">Nom</div>
                                    <div class="th">Image</div>
                                    <div class="th">Match</div>
                                    <div class="th">Contexte</div>
                                    <div class="th">Time code</div>
                                    <div class="th edit-field">Suppr.</div>
                                </div>
                                <%_ videoMedia.products.forEach(function(product){ _%>
                                <div class="tr">
                                    <div class="td">
                                        <div>
                                            <%= product.id _%><input name="id" type="hidden" value="<%= product.id _%>" />
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div><%= product.brand.name _%></div>
                                    </div>
                                    <div class="td">
                                        <div><%= product.name _%></div>
                                    </div>
                                    <div class="td">
                                        <div>
                                            <img src="<%= product.picture_url.replace(/-original/g, '-thumbnail') _%>" alt="<%= product.picture_alt _%>" title="<%= product.picture_title _%>" />
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div class="display-field">
                                            <div class="matching-status <%= product._pivot_matching_status_id === 1 ? 'exact-match' : 'close-match' _%>"></div>
                                        </div>
                                        <div class="edit-field form-group">
                                            <input type="checkbox" name="matching_status_id" value="1" <%= product._pivot_matching_status_id === 1 ? 'checked' : '' %> class="form-control" />
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div class="display-field"><%= product._pivot_appearing_context _%></div>
                                        <div class="edit-field form-group">
                                            <input type="text" name="appearing_context" value="<%= product._pivot_appearing_context _%>" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div class="display-field"><%= product._pivot_time_codes _%></div>
                                        <div class="edit-field form-group">
                                            <input type="text" name="time_codes" value="<%= product._pivot_time_codes _%>" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div class="edit-field">
                                            <button type="button" class="delete-linked-button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <%_ }); _%>
                            </div>
                        </div>
                        <div class="td">
                            <div class="display-field">
                                <button class="see-locations-button btn btn-default" data-toggle="modal" data-target="#modify-locations-modal" type="button">Voir les lieux</button>
                            </div>
                            <div class="edit-field">
                                <button class="modify-locations-button btn btn-default" data-toggle="modal" data-target="#modify-locations-modal" type="button">Modifier les lieux</button>
                            </div>
                            <div class="linked-locations table table-striped table-hover table-sm">
                                <div class="tr thead-inverse">
                                    <div class="th">ID</div>
                                    <div class="th">Nom</div>
                                    <div class="th">V.E.P.</div>
                                    <div class="th">Image</div>
                                    <div class="th">Contexte</div>
                                    <div class="th">Time code</div>
                                    <div class="th edit-field">Suppr.</div>
                                </div>
                                <%_ videoMedia.locations.forEach(function(location){ _%>
                                <div class="tr">
                                    <div class="td">
                                        <div>
                                            <%= location.id _%><input name="id" type="hidden" value="<%= location.id _%>" />
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div><%= location.name _%></div>
                                    </div>
                                    <div class="td">
                                        <div><%= location.city_state_country _%></div>
                                    </div>
                                    <div class="td">
                                        <div>
                                            <img src="<%= location.picture_url.replace(/-original/g, '-thumbnail') _%>" alt="<%= location.picture_alt _%>" title="<%= location.picture_title _%>" />
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div class="display-field"><%= location._pivot_appearing_context _%></div>
                                        <div class="edit-field form-group">
                                            <input type="text" name="appearing_context" value="<%= location._pivot_appearing_context _%>" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div class="display-field"><%= location._pivot_time_codes _%></div>
                                        <div class="edit-field form-group">
                                            <input type="text" name="time_codes" value="<%= location._pivot_time_codes _%>" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div class="edit-field">
                                            <button type="button" class="delete-linked-button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <%_ }); _%>
                            </div>
                        </div>
                        <div class="td">
                            <div class="display-field">
                                <button class="see-looks-button btn btn-default" data-toggle="modal" data-target="#modify-looks-modal" type="button">Voir les looks</button>
                            </div>
                            <div class="edit-field">
                                <button class="modify-looks-button btn btn-default" data-toggle="modal" data-target="#modify-looks-modal" type="button">Modifier les looks</button>
                            </div>
                            <div class="linked-looks table table-striped table-hover table-sm">
                                <div class="tr thead-inverse">
                                    <div class="th">ID</div>
                                    <div class="th">Nom</div>
                                    <div class="th edit-field">Suppr.</div>
                                </div>
                                <%_ videoMedia.looks.forEach(function(look){ _%>
                                <div class="tr">
                                    <div class="td">
                                        <div>
                                            <%= look.id _%><input name="id" type="hidden" value="<%= look.id _%>" />
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div><%= look.name _%></div>
                                    </div>
                                    <div class="td">
                                        <div class="edit-field">
                                            <button type="button" class="delete-linked-button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <%_ }); _%>
                            </div>
                        </div>
                        <div class="td">
                            <div class="display-field">
                                <button class="see-sets-button btn btn-default" data-toggle="modal" data-target="#modify-sets-modal" type="button">Voir les décors</button>
                            </div>
                            <div class="edit-field">
                                <button class="modify-sets-button btn btn-default" data-toggle="modal" data-target="#modify-sets-modal" type="button">Modifier les décors</button>
                            </div>
                            <div class="linked-sets table table-striped table-hover table-sm">
                                <div class="tr thead-inverse">
                                    <div class="th">ID</div>
                                    <div class="th">Nom</div>
                                    <div class="th">Image</div>
                                    <div class="th">Loc.</div>
                                    <div class="th edit-field">Suppr.</div>
                                </div>
                                <%_ videoMedia.sets.forEach(function(set){ _%>
                                <div class="tr">
                                    <div class="td">
                                        <div>
                                            <%= set.id _%><input name="id" type="hidden" value="<%= set.id _%>" />
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div><%= set.name _%></div>
                                    </div>
                                    <div class="td">
                                        <div>
                                            <img src="<%= set.picture_url.replace(/-original/g, '-thumbnail') _%>" alt="<%= set.picture_alt _%>" title="<%= set.picture_title _%>" />
                                        </div>
                                    </div>
                                    <div class="td">
                                        <div><%= set.place _%></div>
                                    </div>
                                    <div class="td">
                                        <div class="edit-field">
                                            <button type="button" class="delete-linked-button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <%_ }); _%>
                            </div>
                        </div>
                        <div class="td">
                            <div><%= moment(videoMedia.created_at).format('DD-MMMM-YYYY') _%></div>
                        </div>
                        <div class="td">
                            <div><%= videoMedia.updated_at ? moment(videoMedia.updated_at).format('DD-MMMM-YYYY') : 'Pas de MAJ' _%></div>
                        </div>
                        <div class="td">
                            <button type="button" class="edit-button actions"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            <button type="button" class="delete-button actions"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            <button type="button" class="save-button actions"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                            <button type="button" class="close-button actions"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                    </form>
                    <%_
                    });
                    _%>
                </div>
            </div>
        </div>
    </div>
</section>
<%- contentFor('bodyClass') %>
class="admin"
<%- contentFor('extraScripts') %>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/mainAdminMovies.js"></script>