<section id="location-details-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wide-img">
                    <img src="<%= location.picture_url -%>" alt="<%= location.picture_alt -%>" title="<%= location.picture_title -%>" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="location-info">
                    <div class="row">
                        <div class="col-md-9">
                            <h1><%= location.name -%></h1>
                        </div>
                        <div id="user-actions" class="col-md-3">
                            <button class="bookmark<%= typeof bookmark !== 'undefined' ? ' bookmarked' : '' _%>" data-object-id="<%= location.id _%>" data-object-type="location">
                                <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                <i class="fa fa-bookmark" aria-hidden="true"></i>
                            </button>
                            <button class="like<%= typeof like !== 'undefined' ? ' liked' : '' _%>" data-object-id="<%= location.id _%>" data-object-type="location">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <span id="like-count"><%= typeof likeCount !== 'undefined' ? likeCount : '' _%></span>
                            </button>
                            <div class="html-tooltip">
                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                                <div class="tooltip-content bottom">
                                    <a href="#">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="subtitle"><%= location.city_state_country -%></p>
                    <p class="description text-justify">
                        <%- location.description -%>
                        <!--<button class="button-overlay dark">
                            <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                        </button>-->
                    </p>
                    <%_ if(location.sawIn){ _%>
                    <p class="font-weight-bold as-seen">
                        Vu dans <span class="text-important"><%= location.sawIn.name -%></span>
                    </p>
                    <p class="description text-justify">
                        <%= location.sawIn._pivot_appearing_context -%>
                    </p>
                    <%_ } _%>
                    <%_ if(location.videoMedias.length > 0){ _%>
                    <p>
                        A voir<%= location.sawIn ? ' également' : '' -%> dans :
                        <ul>
                            <%_ location.videoMedias.forEach(function(videoMedia){ _%>
                            <li><%= videoMedia.name _%></li>
                            <%_ });_%>
                        </ul>
                    </p>
                    <%_ } _%>
                </div>
            </div>
            <div class="col-md-4 location-map">
                <iframe width="auto" height="auto" frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?q=place_id:<%= location.place_id -%>&key=AIzaSyDQSk8BfTd87Ix_thSCfhw9YOMPwOLAHNI&zoom=<%= location.zoom -%>&center=<%= location.latitude -%>,<%= location.longitude -%>" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <button class="down-button drop-shadow" data-down-to="#similar-locations">
        <i class="fa fa-angle-double-down" aria-hidden="true"></i>
    </button>
</section>
<div class="jumbotron jumbotron-fluid even">
    <section id="similar-locations">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Les lieux du moment</h2>
                    <div class="row asset-line">
                        <%_ if(lastLocations.length === 0){ _%>
                        <div class="col-md-12">
                            Aucun lieu à afficher pour l'instant.
                        </div>
                        <%_ } _%>
                        <%_
                        for(var i = 1; i <= lastLocations.length; i++){
                        var locationTemp = lastLocations[i-1]; _%>                       
                        <div class="col-md-3 asset-figure">
                            <div class="asset-img">
                                <a href="/<%= locationTemp.sectionUrl + '/' + locationTemp.id _%>"><img src="<%= locationTemp.picture_url _%>" alt="<%= locationTemp.picture_alt _%>" title="<%= locationTemp.picture_title _%>" /></a>
                                <button class="button-overlay red bookmark<%= locationTemp.bookmark_id ? ' bookmarked' : '' _%>" data-object-id="<%= locationTemp.id _%>" data-object-type="<%= locationTemp.type _%>"><%= locationTemp.bookmark_id ? 'Sauvegardé' : 'Sauvegarder' _%></button>
                            </div>
                            <div class="asset-legend drop-shadow">
                                <a href="/<%= locationTemp.sectionUrl + '/' + locationTemp.id _%>" class="asset-title"><%= locationTemp.name _%></a>
                                <a href="/<%= locationTemp.sectionUrl + '/' + locationTemp.id _%>" class="asset-desc"><%= locationTemp.city_state_country _%></a>
                            </div>
                        </div>
                        <%_ } _%>
                    </div>
                    <!--<div class="row asset-line">
                        <div class="col-md-4 asset-figure">
                            <div class="asset-img">
                                <a href="#"><img src="/images/location2.jpg" alt="Thaïlande" title="Thaïlande" /></a>
                                <button class="button-overlay red">Sauvegarder</button>
                            </div>
                            <div class="asset-legend drop-shadow">
                                <a href="#" class="asset-title">Baie de Thaïlande 1</a>
                                <a href="#" class="asset-desc">Thaïlande</a>
                            </div>
                        </div>
                        <div class="col-md-4 asset-figure">
                            <div class="asset-img">
                                <a href="#"><img src="/images/location3.jpg" alt="Thaïlande" title="Thaïlande" /></a>
                                <button class="button-overlay red">Sauvegarder</button>
                            </div>
                            <div class="asset-legend drop-shadow">
                                <a href="#" class="asset-title">Baie de Thaïlande 2</a>
                                <a href="#" class="asset-desc">Thaïlande</a>
                            </div>
                        </div>
                        <div class="col-md-4 asset-figure">
                            <div class="asset-img">
                                <a href="#"><img src="/images/location1.jpg" alt="Yosemite" title="Yosemite" /></a>
                                <button class="button-overlay red">Sauvegarder</button>
                            </div>
                            <div class="asset-legend drop-shadow">
                                <a href="#" class="asset-title">Parc National de Yosemite</a>
                                <a href="#" class="asset-desc">Californie - USA</a>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </section>
</div>
<%- contentFor('pageTitle') %>
<title>Lieu - <%= location.name_%></title>
<%- contentFor('sEOMetas') %>
<meta name="description" content="<%= location.description _%>">
<%- contentFor('extraScripts') %>
<script type="text/javascript" src="/js/lib/iframeResizer.contentWindow.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>