<% layout('layout')%>
<section id="player-carousel" class="container">
    <div class="wrap">
        <ul id="video-carousel" class="list-unstyled carousel is-set full-size main">
            <li class="carousel-seat row">
                <div class="col-md-9">
                    <div class="plyr">
                        <!--div(data-video-id="bTqVqk7FSmY",data-type="youtube")-->
                        <video poster="/images/five-launcher.jpg" controls>
                            <source src="/video/tallboymediatiethenoosemp4.mp4" type="video/mp4" />
                            <!--Fallback for browsers that don't support the <video> element-->
                            <a href="/video/tallboymediatiethenoosemp4.mp4">Download</a>
                        </video>
                        <div class="video-overlay">
                            <i class="fa fa-play" aria-hidden="true"></i>
                            <div>Five un film de fou !</div>
                        </div>   
                    </div>
                    <div class="commercials-nav">
                        <div id="products" class="visible">
                            <div class="line-icon">
                                <span>Prêt-à-porter</span>
                                <svg>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-shirt"></use>
                                </svg>
                            </div>
                            <ul class="film-assets">
                                <% Object.keys(timeline).forEach(function(key){
                                var products = timeline[key];
                                products.forEach(function(product){
                                %>
                                <li data-product-title="<%=product.Title%>" data-time-code="<%=key%>">
                                    <img src="<%-product.PictureURL%>" />
                                </li>
                                <% });
                                });%>
                            </ul>
                        </div>
                        <div id="objects" class="visible">
                            <div class="line-icon">
                                <span>Objets</span>
                                <svg>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-objects"></use>
                                </svg>
                            </div>
                            <ul class="film-assets"></ul>
                        </div>
                        <div id="places" class="visible">
                            <div class="line-icon">
                                <span>Lieux</span>
                                <svg>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map"></use>
                                </svg>
                            </div>
                            <ul class="film-assets"></ul>
                        </div>
                    </div>
                </div>
                <div id="poster-section" class="col-md-3">
                    <img id="poster" src="./images/five-poster.jpg" class="img-fluid drop-shadow" alt="Five affiche du film" title="Five le film" />
                    <div id="date-info" class="drop-shadow">
                        <h2 class="text-uppercase">Sorties</h2>
                        <ul class="fa-ul">
                            <li>
                                <i class="fa fa-li fa-film" aria-hidden="true"></i>25/05/2016
                            </li>
                            <li>
                                <i class="fa fa-li fa-television" aria-hidden="true"></i>25/05/2016
                            </li>
                        </ul>
                    </div>
                    <div id="working-people" class="drop-shadow wrap">
                        <ul class="carousel is-set full-size list-unstyled">
                            <li class="carousel-seat">
                                <div>
                                    <h2 class="text-uppercase">Casting</h2>
                                    <button class="toggle" data-parent=".carousel" data-toggle="prev"><i class="fa fa-angle-left"></i></button>
                                    <button class="toggle" data-parent=".carousel" data-toggle="next"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        Pierre Niney
                                    </li>
                                    <li>
                                        François Civil
                                    </li>
                                    <li>
                                        Igor Gotesman
                                    </li>
                                    <li>
                                        Marguot Bancilhon
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-plus"></i>voir plus (3)</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="carousel-seat">
                                <div>
                                    <h2 class="text-uppercase">Réalisateur</h2>
                                    <button class="toggle" data-parent=".carousel" data-toggle="prev"><i class="fa fa-angle-left"></i></button>
                                    <button class="toggle" data-parent=".carousel" data-toggle="next"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        Igor Gotesman
                                    </li>
                                </ul>
                            </li>
                            <li class="carousel-seat">
                                <div>
                                    <h2 class="text-uppercase">Producteur(s)</h2>
                                    <button class="toggle" data-parent=".carousel" data-toggle="prev"><i class="fa fa-angle-left"></i></button>
                                    <button class="toggle" data-parent=".carousel" data-toggle="next"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        Pierre Niney
                                    </li>
                                    <li>
                                        Igor Gotesman
                                    </li>
                                </ul>
                            </li>
                            <li class="carousel-seat is-ref">
                                <div>
                                    <h2 class="text-uppercase">Costumes</h2>
                                    <button class="toggle" data-parent=".carousel" data-toggle="prev"><i class="fa fa-angle-left"></i></button>
                                    <button class="toggle" data-parent=".carousel" data-toggle="next"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        Alexander Mark
                                    </li>
                                    <li>
                                        Robert Finley
                                    </li>
                                    <li>
                                        Charles Magnet
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-plus"></i>voir plus (5)</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>                       
                    </div>                    
                </div>
            </li>
            <li class="carousel-seat row">
                <div class="col-md-9">
                    <div class="plyr">
                        <!--div(data-video-id="bTqVqk7FSmY",data-type="youtube")-->
                        <video poster="/images/five-launcher.jpg" controls>
                            <source src="/video/tallboymediatiethenoosemp4.mp4" type="video/mp4" />
                            <!--Fallback for browsers that don't support the <video> element-->
                            <a href="/video/tallboymediatiethenoosemp4.mp4">Download</a>
                        </video>
                        <div class="video-overlay">
                            <i class="fa fa-play" aria-hidden="true"></i>
                            <div>Creed le film</div>
                        </div>
                    </div>
                    <div class="commercials-nav">
                        <div id="products" class="visible">
                            <div class="line-icon">
                                <span>Prêt-à-porter</span>
                                <svg>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-shirt"></use>
                                </svg>
                            </div>
                            <ul class="film-assets">
                                <% Object.keys(timeline).forEach(function(key){
                                var products = timeline[key];
                                products.forEach(function(product){
                                %>
                                <li data-product-title="<%=product.Title%>" data-time-code="<%=key%>">
                                    <img src="<%-product.PictureURL%>" />
                                </li>
                                <% });
                                });%>
                            </ul>
                        </div>
                        <div id="objects" class="visible">
                            <div class="line-icon">
                                <span>Objets</span>
                                <svg>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-objects"></use>
                                </svg>
                            </div>
                            <ul class="film-assets"></ul>
                        </div>
                        <div id="places" class="visible">
                            <div class="line-icon">
                                <span>Lieux</span>
                                <svg>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map"></use>
                                </svg>
                            </div>
                            <ul class="film-assets"></ul>
                        </div>
                    </div>
                </div>
                <div id="poster-section" class="col-md-3">
                    <img id="poster" src="./images/creed-poster.jpg" class="img-fluid drop-shadow" alt="Five affiche du film" title="Five le film" />
                    <div id="date-info" class="drop-shadow">
                        <h2 class="text-uppercase">Sorties</h2>
                        <ul class="fa-ul">
                            <li>
                                <i class="fa fa-li fa-film" aria-hidden="true"></i>25/05/2016
                            </li>
                            <li>
                                <i class="fa fa-li fa-television" aria-hidden="true"></i>25/05/2016
                            </li>
                        </ul>
                    </div>
                    <div id="working-people" class="drop-shadow wrap">
                        <ul class="carousel is-set full-size list-unstyled">
                            <li class="carousel-seat">
                                <div>
                                    <h2 class="text-uppercase">Casting</h2>
                                    <button class="toggle" data-parent=".carousel" data-toggle="prev"><i class="fa fa-angle-left"></i></button>
                                    <button class="toggle" data-parent=".carousel" data-toggle="next"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        Pierre Niney
                                    </li>
                                    <li>
                                        François Civil
                                    </li>
                                    <li>
                                        Igor Gotesman
                                    </li>
                                    <li>
                                        Marguot Bancilhon
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-plus"></i>voir plus (3)</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="carousel-seat">
                                <div>
                                    <h2 class="text-uppercase">Réalisateur</h2>
                                    <button class="toggle" data-parent=".carousel" data-toggle="prev"><i class="fa fa-angle-left"></i></button>
                                    <button class="toggle" data-parent=".carousel" data-toggle="next"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        Igor Gotesman
                                    </li>
                                </ul>
                            </li>
                            <li class="carousel-seat">
                                <div>
                                    <h2 class="text-uppercase">Producteur(s)</h2>
                                    <button class="toggle" data-parent=".carousel" data-toggle="prev"><i class="fa fa-angle-left"></i></button>
                                    <button class="toggle" data-parent=".carousel" data-toggle="next"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        Pierre Niney
                                    </li>
                                    <li>
                                        Igor Gotesman
                                    </li>
                                </ul>
                            </li>
                            <li class="carousel-seat is-ref">
                                <div>
                                    <h2 class="text-uppercase">Costumes</h2>
                                    <button class="toggle" data-parent=".carousel" data-toggle="prev"><i class="fa fa-angle-left"></i></button>
                                    <button class="toggle" data-parent=".carousel" data-toggle="next"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        Alexander Mark
                                    </li>
                                    <li>
                                        Robert Finley
                                    </li>
                                    <li>
                                        Charles Magnet
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-plus"></i>voir plus (5)</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>                     
                </div>
            </li>
            <li class="carousel-seat row">
                <div class="col-md-9">
                    <div class="plyr">
                        <!--div(data-video-id="bTqVqk7FSmY",data-type="youtube")-->
                        <video poster="/images/five-launcher.jpg" controls>
                            <source src="/video/tallboymediatiethenoosemp4.mp4" type="video/mp4" />
                            <!--Fallback for browsers that don't support the <video> element-->
                            <a href="/video/tallboymediatiethenoosemp4.mp4">Download</a>
                        </video>
                        <div class="video-overlay">
                            <i class="fa fa-play" aria-hidden="true"></i>
                            <div>Five un film de fou !</div>
                        </div>
                    </div>
                    <div class="commercials-nav">
                        <div id="products" class="visible">
                            <div class="line-icon">
                                <span>Prêt-à-porter</span>
                                <svg>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-shirt"></use>
                                </svg>
                            </div>
                            <ul class="film-assets">
                                <% Object.keys(timeline).forEach(function(key){
                                var products = timeline[key];
                                products.forEach(function(product){
                                %>
                                <li data-product-title="<%=product.Title%>" data-time-code="<%=key%>">
                                    <img src="<%-product.PictureURL%>" />
                                </li>
                                <% });
                                });%>
                            </ul>
                        </div>
                        <div id="objects" class="visible">
                            <div class="line-icon">
                                <span>Objets</span>
                                <svg>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-objects"></use>
                                </svg>
                            </div>
                            <ul class="film-assets"></ul>
                        </div>
                        <div id="places" class="visible">
                            <div class="line-icon">
                                <span>Lieux</span>
                                <svg>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map"></use>
                                </svg>
                            </div>
                            <ul class="film-assets"></ul>
                        </div>
                    </div>
                </div>
                <div id="poster-section" class="col-md-3">
                    <img id="poster" src="./images/3-freres-poster.jpg" class="img-fluid drop-shadow" alt="Five affiche du film" title="Five le film" />
                    <div id="date-info" class="drop-shadow">
                        <h2 class="text-uppercase">Sorties</h2>
                        <ul class="fa-ul">
                            <li>
                                <i class="fa fa-li fa-film" aria-hidden="true"></i>25/05/2016
                            </li>
                            <li>
                                <i class="fa fa-li fa-television" aria-hidden="true"></i>25/05/2016
                            </li>
                        </ul>
                    </div>
                    <div id="working-people" class="drop-shadow wrap">
                        <ul class="carousel is-set full-size list-unstyled">
                            <li class="carousel-seat">
                                <div>
                                    <h2 class="text-uppercase">Casting</h2>
                                    <button class="toggle" data-parent=".carousel" data-toggle="prev"><i class="fa fa-angle-left"></i></button>
                                    <button class="toggle" data-parent=".carousel" data-toggle="next"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        Pierre Niney
                                    </li>
                                    <li>
                                        François Civil
                                    </li>
                                    <li>
                                        Igor Gotesman
                                    </li>
                                    <li>
                                        Marguot Bancilhon
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-plus"></i>voir plus (3)</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="carousel-seat">
                                <div>
                                    <h2 class="text-uppercase">Réalisateur</h2>
                                    <button class="toggle" data-parent=".carousel" data-toggle="prev"><i class="fa fa-angle-left"></i></button>
                                    <button class="toggle" data-parent=".carousel" data-toggle="next"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        Igor Gotesman
                                    </li>
                                </ul>
                            </li>
                            <li class="carousel-seat">
                                <div>
                                    <h2 class="text-uppercase">Producteur(s)</h2>
                                    <button class="toggle" data-parent=".carousel" data-toggle="prev"><i class="fa fa-angle-left"></i></button>
                                    <button class="toggle" data-parent=".carousel" data-toggle="next"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        Pierre Niney
                                    </li>
                                    <li>
                                        Igor Gotesman
                                    </li>
                                </ul>
                            </li>
                            <li class="carousel-seat is-ref">
                                <div>
                                    <h2 class="text-uppercase">Costumes</h2>
                                    <button class="toggle" data-parent=".carousel" data-toggle="prev"><i class="fa fa-angle-left"></i></button>
                                    <button class="toggle" data-parent=".carousel" data-toggle="next"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        Alexander Mark
                                    </li>
                                    <li>
                                        Robert Finley
                                    </li>
                                    <li>
                                        Charles Magnet
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-plus"></i>voir plus (5)</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>                     
                </div>
            </li>
            <li class="carousel-seat row">
                <div class="col-md-9">
                    <div class="plyr">
                        <!--div(data-video-id="bTqVqk7FSmY",data-type="youtube")-->
                        <video poster="/images/five-launcher.jpg" controls>
                            <source src="/video/tallboymediatiethenoosemp4.mp4" type="video/mp4" />
                            <!--Fallback for browsers that don't support the <video> element-->
                            <a href="/video/tallboymediatiethenoosemp4.mp4">Download</a>
                        </video>
                        <div class="video-overlay">
                            <i class="fa fa-play" aria-hidden="true"></i>
                            <div>Five un film de fou !</div>
                        </div>
                    </div>
                    <div class="commercials-nav">
                        <div id="products" class="visible">
                            <div class="line-icon">
                                <span>Prêt-à-porter</span>
                                <svg>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-shirt"></use>
                                </svg>
                            </div>
                            <ul class="film-assets">
                                <% Object.keys(timeline).forEach(function(key){
                                var products = timeline[key];
                                products.forEach(function(product){
                                %>
                                <li data-product-title="<%=product.Title%>" data-time-code="<%=key%>">
                                    <img src="<%-product.PictureURL%>" />
                                </li>
                                <% });
                                });%>
                            </ul>
                        </div>
                        <div id="objects" class="visible">
                            <div class="line-icon">
                                <span>Objets</span>
                                <svg>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-objects"></use>
                                </svg>
                            </div>
                            <ul class="film-assets"></ul>
                        </div>
                        <div id="places" class="visible">
                            <div class="line-icon">
                                <span>Lieux</span>
                                <svg>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map"></use>
                                </svg>
                            </div>
                            <ul class="film-assets"></ul>
                        </div>
                    </div>
                </div>
                <div id="poster-section" class="col-md-3">
                    <img id="poster" src="./images/deadpool-poster.jpg" class="img-fluid drop-shadow" alt="Five affiche du film" title="Five le film" />
                    <div id="date-info" class="drop-shadow">
                        <h2 class="text-uppercase">Sorties</h2>
                        <ul class="fa-ul">
                            <li>
                                <i class="fa fa-li fa-film" aria-hidden="true"></i>25/05/2016
                            </li>
                            <li>
                                <i class="fa fa-li fa-television" aria-hidden="true"></i>25/05/2016
                            </li>
                        </ul>
                    </div>
                    <div id="working-people" class="drop-shadow wrap">
                        <ul class="carousel is-set full-size list-unstyled">
                            <li class="carousel-seat">
                                <div>
                                    <h2 class="text-uppercase">Casting</h2>
                                    <button class="toggle" data-parent=".carousel" data-toggle="prev"><i class="fa fa-angle-left"></i></button>
                                    <button class="toggle" data-parent=".carousel" data-toggle="next"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        Pierre Niney
                                    </li>
                                    <li>
                                        François Civil
                                    </li>
                                    <li>
                                        Igor Gotesman
                                    </li>
                                    <li>
                                        Marguot Bancilhon
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-plus"></i>voir plus (3)</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="carousel-seat">
                                <div>
                                    <h2 class="text-uppercase">Réalisateur</h2>
                                    <button class="toggle" data-parent=".carousel" data-toggle="prev"><i class="fa fa-angle-left"></i></button>
                                    <button class="toggle" data-parent=".carousel" data-toggle="next"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        Igor Gotesman
                                    </li>
                                </ul>
                            </li>
                            <li class="carousel-seat">
                                <div>
                                    <h2 class="text-uppercase">Producteur(s)</h2>
                                    <button class="toggle" data-parent=".carousel" data-toggle="prev"><i class="fa fa-angle-left"></i></button>
                                    <button class="toggle" data-parent=".carousel" data-toggle="next"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        Pierre Niney
                                    </li>
                                    <li>
                                        Igor Gotesman
                                    </li>
                                </ul>
                            </li>
                            <li class="carousel-seat is-ref">
                                <div>
                                    <h2 class="text-uppercase">Costumes</h2>
                                    <button class="toggle" data-parent=".carousel" data-toggle="prev"><i class="fa fa-angle-left"></i></button>
                                    <button class="toggle" data-parent=".carousel" data-toggle="next"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        Alexander Mark
                                    </li>
                                    <li>
                                        Robert Finley
                                    </li>
                                    <li>
                                        Charles Magnet
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-plus"></i>voir plus (5)</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>                     
                </div>
            </li>
            <li class="carousel-seat is-ref row">
                <div class="col-md-9">
                    <div class="plyr">
                        <!--div(data-video-id="bTqVqk7FSmY",data-type="youtube")-->
                        <video poster="/images/five-launcher.jpg" controls>
                            <source src="/video/tallboymediatiethenoosemp4.mp4" type="video/mp4" />
                            <!--Fallback for browsers that don't support the <video> element-->
                            <a href="/video/tallboymediatiethenoosemp4.mp4">Download</a>
                        </video>
                        <div class="video-overlay">
                            <i class="fa fa-play" aria-hidden="true"></i>
                            <div>Five un film de fou !</div>
                        </div>
                    </div>
                    <div class="commercials-nav">
                        <div id="products" class="visible">
                            <div class="line-icon">
                                <span>Prêt-à-porter</span>
                                <svg>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-shirt"></use>
                                </svg>
                            </div>
                            <ul class="film-assets">
                                <% Object.keys(timeline).forEach(function(key){
                                var products = timeline[key];
                                products.forEach(function(product){
                                %>
                                <li data-product-title="<%=product.Title%>" data-time-code="<%=key%>">
                                    <img src="<%-product.PictureURL%>" />
                                </li>
                                <% });
                                });%>
                            </ul>
                        </div>
                        <div id="objects" class="visible">
                            <div class="line-icon">
                                <span>Objets</span>
                                <svg>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-objects"></use>
                                </svg>
                            </div>
                            <ul class="film-assets"></ul>
                        </div>
                        <div id="places" class="visible">
                            <div class="line-icon">
                                <span>Lieux</span>
                                <svg>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map"></use>
                                </svg>
                            </div>
                            <ul class="film-assets"></ul>
                        </div>
                    </div>
                </div>
                <div id="poster-section" class="col-md-3">
                    <img id="poster" src="./images/les-gazelles-poster.jpg" class="img-fluid drop-shadow" alt="Five affiche du film" title="Five le film" />
                    <div id="date-info" class="drop-shadow">
                        <h2 class="text-uppercase">Sorties</h2>
                        <ul class="fa-ul">
                            <li>
                                <i class="fa fa-li fa-film" aria-hidden="true"></i>25/05/2016
                            </li>
                            <li>
                                <i class="fa fa-li fa-television" aria-hidden="true"></i>25/05/2016
                            </li>
                        </ul>
                    </div>
                    <div id="working-people" class="drop-shadow wrap">
                        <ul class="carousel is-set full-size list-unstyled">
                            <li class="carousel-seat">
                                <div>
                                    <h2 class="text-uppercase">Casting</h2>
                                    <button class="toggle" data-parent=".carousel" data-toggle="prev"><i class="fa fa-angle-left"></i></button>
                                    <button class="toggle" data-parent=".carousel" data-toggle="next"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        Pierre Niney
                                    </li>
                                    <li>
                                        François Civil
                                    </li>
                                    <li>
                                        Igor Gotesman
                                    </li>
                                    <li>
                                        Marguot Bancilhon
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-plus"></i>voir plus (3)</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="carousel-seat">
                                <div>
                                    <h2 class="text-uppercase">Réalisateur</h2>
                                    <button class="toggle" data-parent=".carousel" data-toggle="prev"><i class="fa fa-angle-left"></i></button>
                                    <button class="toggle" data-parent=".carousel" data-toggle="next"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        Igor Gotesman
                                    </li>
                                </ul>
                            </li>
                            <li class="carousel-seat">
                                <div>
                                    <h2 class="text-uppercase">Producteur(s)</h2>
                                    <button class="toggle" data-parent=".carousel" data-toggle="prev"><i class="fa fa-angle-left"></i></button>
                                    <button class="toggle" data-parent=".carousel" data-toggle="next"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        Pierre Niney
                                    </li>
                                    <li>
                                        Igor Gotesman
                                    </li>
                                </ul>
                            </li>
                            <li class="carousel-seat is-ref">
                                <div>
                                    <h2 class="text-uppercase">Costumes</h2>
                                    <button class="toggle" data-parent=".carousel" data-toggle="prev"><i class="fa fa-angle-left"></i></button>
                                    <button class="toggle" data-parent=".carousel" data-toggle="next"><i class="fa fa-angle-right"></i></button>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        Alexander Mark
                                    </li>
                                    <li>
                                        Robert Finley
                                    </li>
                                    <li>
                                        Charles Magnet
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-plus"></i>voir plus (5)</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>                     
                </div>
            </li>
        </ul>
    </div>       
    <div class="row">
        <button class="toggle col-md-1 offset-md-1" data-slide="#video-carousel" data-toggle="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
        <ul class="pagin col-md-8 list-unstyled">
            <li><a href="#" class="active"><img src="./images/five-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a></li>
            <li><a href="#"><img src="./images/creed-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a></li>
            <li><a href="#"><img src="./images/3-freres-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a></li>
            <li><a href="#"><img src="./images/deadpool-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a></li>
            <li><a href="#"><img src="./images/les-gazelles-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a></li>
        </ul>
        <button class="toggle col-md-1" data-slide="#video-carousel" data-toggle="next"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
    </div>
</section>
<section class="highlight fashion">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-md-center">
                <h2 class="text-uppercase">Les tendances</h2>
            </div>
        </div>
        <div class="wrap">
            <ul id="carousel-fashion" class="carousel is-set">
                <li class="carousel-seat asset-figure">
                    <div class="asset-img">
                        <a href="#"><img src="/images/veste-homme2.jpg" alt="Veste homme bleue" title="Veste homme bleue" /></a>
                        <button class="red-button-overlay">Sauvegarder</button>
                    </div>
                    <div class="asset-legend drop-shadow">
                        <a href="#" class="asset-title"><span>vu dans</span>Five</a>
                        <a href="#" class="asset-desc">Dior Homme - Veste bleue polaire high fashion</a>
                    </div>
                </li>
                <li class="carousel-seat asset-figure">
                    <div class="asset-img">
                        <a href="#"><img src="/images/veste-homme2.jpg" alt="Veste homme bleue" title="Veste homme bleue" /></a>
                        <button class="red-button-overlay">Sauvegarder</button>
                    </div>
                    <div class="asset-legend drop-shadow">
                        <a href="#" class="asset-title"><span>vu dans</span>Five</a>
                        <a href="#" class="asset-desc">Dior Homme - Veste bleue polaire high fashion</a>
                    </div>
                </li>
                <li class="carousel-seat asset-figure">
                    <div class="asset-img">
                        <a href="#"><img src="/images/veste-homme2.jpg" alt="Veste homme bleue" title="Veste homme bleue" /></a>
                        <button class="red-button-overlay">Sauvegarder</button>
                    </div>
                    <div class="asset-legend drop-shadow">
                        <a href="#" class="asset-title"><span>vu dans</span>Five</a>
                        <a href="#" class="asset-desc">Dior Homme - Veste bleue polaire high fashion</a>
                    </div>
                </li>
                <li class="carousel-seat asset-figure">
                    <div class="asset-img">
                        <a href="#"><img src="/images/veste-homme2.jpg" alt="Veste homme bleue" title="Veste homme bleue" /></a>
                        <button class="red-button-overlay">Sauvegarder</button>
                    </div>
                    <div class="asset-legend drop-shadow">
                        <a href="#" class="asset-title"><span>vu dans</span>Five</a>
                        <a href="#" class="asset-desc">Dior Homme - Veste bleue polaire high fashion</a>
                    </div>
                </li>
                <li class="carousel-seat asset-figure">
                    <div class="asset-img">
                        <a href="#"><img src="/images/veste-homme2.jpg" alt="Veste homme bleue" title="Veste homme bleue" /></a>
                        <button class="red-button-overlay">Sauvegarder</button>
                    </div>
                    <div class="asset-legend drop-shadow">
                        <a href="#" class="asset-title"><span>vu dans</span>Five</a>
                        <a href="#" class="asset-desc">Dior Homme - Veste bleue polaire high fashion</a>
                    </div>
                </li>
                <li class="carousel-seat asset-figure">
                    <div class="asset-img">
                        <a href="#"><img src="/images/veste-homme2.jpg" alt="Veste homme bleue" title="Veste homme bleue" /></a>
                        <button class="red-button-overlay">Sauvegarder</button>
                    </div>
                    <div class="asset-legend drop-shadow">
                        <a href="#" class="asset-title"><span>vu dans</span>Five</a>
                        <a href="#" class="asset-desc">Dior Homme - Veste bleue polaire high fashion</a>
                    </div>
                </li>
                <li class="carousel-seat asset-figure">
                    <div class="asset-img">
                        <a href="#"><img src="/images/veste-homme2.jpg" alt="Veste homme bleue" title="Veste homme bleue" /></a>
                        <button class="red-button-overlay">Sauvegarder</button>
                    </div>
                    <div class="asset-legend drop-shadow">
                        <a href="#" class="asset-title"><span>vu dans</span>Five</a>
                        <a href="#" class="asset-desc">Dior Homme - Veste bleue polaire high fashion</a>
                    </div>
                </li>
                <li class="carousel-seat asset-figure">
                    <div class="asset-img">
                        <a href="#"><img src="/images/veste-homme2.jpg" alt="Veste homme bleue" title="Veste homme bleue" /></a>
                        <button class="red-button-overlay">Sauvegarder</button>
                    </div>
                    <div class="asset-legend drop-shadow">
                        <a href="#" class="asset-title"><span>vu dans</span>Five</a>
                        <a href="#" class="asset-desc">Dior Homme - Veste bleue polaire high fashion</a>
                    </div>
                </li>
                <li class="carousel-seat asset-figure">
                    <div class="asset-img">
                        <a href="#"><img src="/images/veste-homme2.jpg" alt="Veste homme bleue" title="Veste homme bleue" /></a>
                        <button class="red-button-overlay">Sauvegarder</button>
                    </div>
                    <div class="asset-legend drop-shadow">
                        <a href="#" class="asset-title"><span>vu dans</span>Five</a>
                        <a href="#" class="asset-desc">Dior Homme - Veste bleue polaire high fashion</a>
                    </div>
                </li>            
            </ul>
        </div>        
        <button class="toggle" data-slide="#carousel-fashion" data-toggle="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
        <button class="toggle" data-slide="#carousel-fashion" data-toggle="next"><i class="fa fa-angle-right" aria-hidden="true"></i></button>     
    </div>            
</section>
<section class="container highlight locations">
    <div class="row">
        <div class="col-md-12 text-md-center">
            <h2 class="text-uppercase">Les plus beaux lieux</h2>
        </div>
    </div>
    <div class="wrap">
        <ul id="carousel-locations" class="carousel is-set full-size">
            <li class="carousel-seat">
                <div class="featured-location-img">
                    <a href="#"><img class="img-fluid" src="./images/location1.jpg" /></a>
                    <div class="picture-title drop-shadow">
                        <a href="#" class="asset-title"><span>vu dans</span> FIVE</a>
                        <a href="#" class="asset-desc">
                            Dior Homme - Veste bleue polaire high fashion
                        </a>
                    </div>
                </div>
                <div class="location-img">
                    <a href="#" class="center-crop"><img src="./images/location2.jpg" /></a>
                    <div class="picture-title drop-shadow">
                        <a href="#" class="asset-title"><span>vu dans</span> FIVE</a>
                        <a href="#" class="asset-desc">
                            Dior Homme - Veste bleue polaire high fashion
                        </a>
                    </div>
                </div>
                <div class="location-img">
                    <a href="#" class="center-crop"><img src="./images/location3.jpg" /></a>
                    <div class="picture-title drop-shadow">
                        <a href="#" class="asset-title"><span>vu dans</span> FIVE</a>
                        <a href="#" class="asset-desc">
                            Dior Homme - Veste bleue polaire high fashion
                        </a>
                    </div>
                </div>            
            </li>
            <li class="carousel-seat">
                <div class="featured-location-img">
                    <a href="#"><img class="img-fluid" src="./images/location1.jpg" /></a>
                    <div class="picture-title drop-shadow">
                        <a href="#" class="asset-title"><span>vu dans</span> FIVE</a>
                        <a href="#" class="asset-desc">
                            Dior Homme - Veste bleue polaire high fashion
                        </a>
                    </div>
                </div>
                <div class="location-img">
                    <a href="#" class="center-crop"><img src="./images/location2.jpg" /></a>
                    <div class="picture-title drop-shadow">
                        <a href="#" class="asset-title"><span>vu dans</span> FIVE</a>
                        <a href="#" class="asset-desc">
                            Dior Homme - Veste bleue polaire high fashion
                        </a>
                    </div>
                </div>
                <div class="location-img">
                    <a href="#" class="center-crop"><img src="./images/location3.jpg" /></a>
                    <div class="picture-title drop-shadow">
                        <a href="#" class="asset-title"><span>vu dans</span> FIVE</a>
                        <a href="#" class="asset-desc">
                            Dior Homme - Veste bleue polaire high fashion
                        </a>
                    </div>
                </div>
            </li>
            <li class="carousel-seat">
                <div class="featured-location-img">
                    <a href="#"><img class="img-fluid" src="./images/location1.jpg" /></a>
                    <div class="picture-title drop-shadow">
                        <a href="#" class="asset-title"><span>vu dans</span> FIVE</a>
                        <a href="#" class="asset-desc">
                            Dior Homme - Veste bleue polaire high fashion
                        </a>
                    </div>
                </div>
                <div class="location-img">
                    <a href="#" class="center-crop"><img src="./images/location2.jpg" /></a>
                    <div class="picture-title drop-shadow">
                        <a href="#" class="asset-title"><span>vu dans</span> FIVE</a>
                        <a href="#" class="asset-desc">
                            Dior Homme - Veste bleue polaire high fashion
                        </a>
                    </div>
                </div>
                <div class="location-img">
                    <a href="#" class="center-crop"><img src="./images/location3.jpg" /></a>
                    <div class="picture-title drop-shadow">
                        <a href="#" class="asset-title"><span>vu dans</span> FIVE</a>
                        <a href="#" class="asset-desc">
                            Dior Homme - Veste bleue polaire high fashion
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <button class="toggle" data-slide="#carousel-locations" data-toggle="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
    <button class="toggle" data-slide="#carousel-locations" data-toggle="next"><i class="fa fa-angle-right" aria-hidden="true"></i></button> 
</section>
<section class="container highlight movies">
    <div class="row">
        <div class="col-md-12 text-md-center">
            <h2 class="text-uppercase">A l'affiche</h2>
        </div>
    </div>
    <div class="wrap">
        <ul id="carousel-movies" class="carousel is-set">
            <li class="carousel-seat">
                <a href="#" alt="" title=""><img src="./images/deadpool-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a>
            </li>
            <li class="carousel-seat">
                <a href="#" alt="" title=""><img src="./images/five-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a>
            </li>
            <li class="carousel-seat">
                <a href="#" alt="" title=""><img src="./images/3-freres-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a>
            </li>
            <li class="carousel-seat">
                <a href="#" alt="" title=""><img src="./images/creed-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a>
            </li>
            <li class="carousel-seat">
                <a href="#" alt="" title=""><img src="./images/les-gazelles-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a>
            </li>
            <li class="carousel-seat">
                <a href="#" alt="" title=""><img src="./images/deadpool-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a>
            </li>
            <li class="carousel-seat">
                <a href="#" alt="" title=""><img src="./images/five-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a>
            </li>
            <li class="carousel-seat">
                <a href="#" alt="" title=""><img src="./images/3-freres-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a>
            </li>
            <li class="carousel-seat">
                <a href="#" alt="" title=""><img src="./images/creed-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a>
            </li>
            <li class="carousel-seat">
                <a href="#" alt="" title=""><img src="./images/les-gazelles-poster.jpg" class="img-fluid" alt="Five affiche du film" title="Five le film" /></a>
            </li>
        </ul>
    </div>    
    <button class="toggle" data-slide="#carousel-movies" data-toggle="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
    <button class="toggle" data-slide="#carousel-movies" data-toggle="next"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
</section>
<script type="text/javascript">
    var timeline = <%- JSON.stringify(timeline);%>;
</script>
