<section id="search-results-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-md-center m-t-2"><%_ if(typeof categoryName !== 'undefined'){ _%><%= categoryName _%><%_ }else{ _%>Résulats de la recherche pour '<%= keywords _%>'<%_ } _%></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-9">
                <p>Elements <%= (pagination.page === 1 ? 1 : ((pagination.page - 1) * pagination.pageSize) + 1) + ' '_%> à <%if(pagination.pageCount === 1){%><%= pagination.rowCount %><%_ }else{ _%><%= (pagination.page === 1 ? pagination.pageSize : (pagination.rowCount < (pagination.page * pagination.pageSize) ? pagination.rowCount : (pagination.page * pagination.pageSize))) + ' ' _%><%_ } %> sur un total de <%= pagination.rowCount _%></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <ul class="pagination" data-item-count="<%= pagination.rowCount _%>" data-page-count="<%= pagination.pageCount _%>" data-current-page="<%= pagination.page _%>"></ul>
            </div>
        </div>
        <%_
        var newRow = true;
        for(var i = 1; i <= results.length; i++){
        var result = results[i-1];
        if(newRow){
        _%>
        <div class="row asset-line">
            <%_ newRow = false; } _%>
            <div class="col-md-3 asset-figure">
                <div class="asset-img wide-img">
                    <a href="/<%= result.section_url + '/' + result.id _%>"><img src="<%= result.picture_url _%>" alt="<%= result.picture_alt _%>" title="<%= result.picture_title _%>" /></a>
                    <button class="button-overlay red">Sauvegarder</button>
                </div>
                <div class="asset-legend drop-shadow">
                    <a href="/<%= result.section_url + '/' + result.id _%>" class="asset-title"><%_ if (result.brand){ _%><span><%= result.brand.name _%></span><%_ } %> <%- result.name _%></a>
                    <!--<a href="#" class="asset-desc">Veste bleue polaire high fashion</a>-->
                </div>
            </div>
            <%_ if(i % 4 === 0 || i === results.length){ _%>
        </div>
        <%_ newRow = true;} _%>
        <%_ } _%>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <ul class="pagination" data-item-count="<%= pagination.rowCount _%>" data-page-count="<%= pagination.pageCount _%>" data-current-page="<%= pagination.page _%>"></ul>
            </div>
        </div>
    </div>
</section>

<%- contentFor('extraScripts') %>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/mainsearch.js"></script>