<section id="product-details-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="asset-img">
                    <div><img src="<%= product.picture_url %>" alt="<%= product.picture_alt %>" title="<%= product.picture_title %>" /></div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <h1><%= product.brand.name %></h1>
                    </div>
                    <div id="user-actions" class="col-md-3 offset-md-3">
                        <button class="bookmark<%= typeof bookmark !== 'undefined' ? ' bookmarked' : '' _%>" data-object-id="<%= product.id _%>" data-object-type="product">
                            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                            <i class="fa fa-bookmark" aria-hidden="true"></i>
                        </button>
                        <button class="like<%= typeof like !== 'undefined' ? ' liked' : '' _%>" data-object-id="<%= product.id _%>" data-object-type="product">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <span id="like-count"><%= typeof likeCount !== 'undefined' ? likeCount : '' _%></span>
                        </button>
                        <div class="html-tooltip">
                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                            <div class="tooltip-content bottom">
                                <a data-url="<%= pageURL _%>" href="http://www.facebook.com/sharer.php?u=<%= pageURL _%>" class="share-facebook" target="_blank">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="subtitle"><%= product.name %> - <span class="font-weight-bold"><%= product.price %>€</span></p>
                        <p class="description text-justify"><%= product.description %></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span><i class="fa fa-tag" aria-hidden="true"></i></span>
                        <ul id="category-tags">
                            <%_product.categories.forEach(function(category){ _%>
                            <li class="tag tag-default"><%= category.name _%></li>
                            <%_ });_%>
                        </ul>
                    </div>
                </div>
                <% if(typeof media != 'undefined'){ %>
                <div class="row">
                    <div class="col-md-12">
                        <p class="font-weight-bold as-seen">
                            Vu dans <span class="text-important"><%= media.name _%></span>                           
                            <span class="matching-status <%= contextualInfo.matchingStatus.id === 1 ? 'exact-match' : 'close-match' _%>">
                                <%= contextualInfo.matchingStatus.display_name  %>
                            </span>
                        </p>
                        <% if(contextualInfo.appearingContext) {%>
                        <p class="description text-justify">
                            <%= contextualInfo.appearingContext %>
                        </p>
                        <%
                        }
                        _%>
                    </div>
                </div>
                <%_
                }
                _%>
                <%_ if((medias.length > 0 && typeof media === 'undefined') || (medias.length > 1 && typeof media !== 'undefined')){ %>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            A voir<%= typeof media !== 'undefined' ? ' également' : '' %> dans :
                            <ul>
                                <% for(var l = medias.length, i = 0; i < l; i++){
                                var videoMedia = medias[i];
                                if(typeof media != 'undefined' && media.id === videoMedia.id)
                                {
                                continue;
                                }
                                %>
                                <li>
                                    <%= videoMedia.name %>
                                </li>
                                <% } %>
                            </ul>
                        </p>
                    </div>
                </div>
                <% } %>
                <div>
                    <a href="<%= product.commercial_url _%>" class="interactive-button" target="_blank">Acheter</a>
                </div>
            </div>
        </div>
    </div>
    <button class="down-button drop-shadow" data-down-to="#similar-products">
        <i class="fa fa-angle-double-down" aria-hidden="true"></i>
    </button>
</section>

<section id="similar-products" class="jumbotron jumbotron-fluid even">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <%_ if(typeof product.similarProducts !== 'undefined' && product.similarProducts.length > 0){ _%>
                <h2 class="text-uppercase">Les produits similaires</h2>
                <%_
                var newRow = true;
                for(var i = 1; i <= product.similarProducts.length; i++){
                var simProduct = product.similarProducts[i-1];
                if(newRow){
                _%>
                <div class="row asset-line">
                    <%_ newRow = false; } _%>
                    <div class="col-md-3 asset-figure">
                        <div class="asset-img">
                            <a href="/<%= simProduct.section_url _%>/<%= simProduct.id _%>"><img src="<%= simProduct.picture_url %>" alt="<%= simProduct.picture_alt %>" title="<%= simProduct.picture_title %>" /></a>
                            <button class="button-overlay red">Sauvegarder</button>
                        </div>
                        <div class="asset-legend drop-shadow">
                            <a href="/<%= simProduct.section_url _%>/<%= simProduct.id _%>" class="asset-title"><%= simProduct.brand.name %></a>
                            <a href="/<%= simProduct.section_url _%>/<%= simProduct.id _%>" class="asset-desc"><%= simProduct.name %></a>
                        </div>
                    </div>
                    <%_ if(i % 4 === 0 || i === product.similarProducts.length){ _%>
                </div>
                <%_ newRow = true;} _%>
                <%_ }
                } else { _%>
                <h2>Les produits du moment</h2>
                <div class="row asset-line">
                    <%_ if(lastProducts.length === 0){ _%>
                    <div class="col-md-12">
                        Aucun produit à afficher pour l'instant.
                    </div>
                    <%_ } _%>
                    <%_
                    for(var i = 1; i <= lastProducts.length; i++){
                    var productTemp = lastProducts[i-1]; _%>
                    <div class="col-md-3 asset-figure">
                        <div class="asset-img">
                            <a href="/<%= productTemp.sectionUrl + '/' + productTemp.id _%>"><img src="<%= productTemp.picture_url _%>" alt="<%= productTemp.picture_alt _%>" title="<%= productTemp.picture_title _%>" /></a>
                            <button class="button-overlay red bookmark<%= productTemp.bookmark_id ? ' bookmarked' : '' _%>" data-object-id="<%= productTemp.id _%>" data-object-type="<%= productTemp.type _%>"><%= productTemp.bookmark_id ? 'Sauvegardé' : 'Sauvegarder' _%></button>
                        </div>
                        <div class="asset-legend drop-shadow">
                            <a href="/<%= productTemp.sectionUrl + '/' + productTemp.id _%>" class="asset-title"><%= productTemp.brand_name _%></a>
                            <a href="/<%= productTemp.sectionUrl + '/' + productTemp.id _%>" class="asset-desc"><%= productTemp.name _%></a>
                        </div>
                    </div>
                    <%_ } _%>
                </div>
                <%_ } _%>
            </div>
        </div>
    </div>
</section>
<%- contentFor('pageTitle') %>
<title>Produit - <%= product.brand.name + ' ' + product.name_%></title>
<%- contentFor('sEOMetas') %>
<meta name="description" content="<%= product.description _%>">
<%- contentFor('extraScripts') %>
<script type="text/javascript" src="/js/lib/iframeResizer.contentWindow.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>